<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <title><%= @meta_title || params[:action].titlecase %> | Distribot</title>
  <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="">
  <link rel="canonical" href="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller], :media => 'all' if Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag params[:controller] if Rails.application.assets.find_asset("#{params[:controller]}.js") %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}"  if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.js") %>

  <%= yield(:head) %>
  <%= yield(:css) %>

</head>

<body class="<%= controller_name %>" id="<%= action_name %>">

<div class="ui secondary pointing menu fixed main-nav">
  <a class="brand item" href="/">
    <%= image_tag 'distribot-70x70.png', class: 'ui image' %>
    &nbsp;&nbsp;
    Distribot
  </a>
<% if signed_in? %>
  <a class="item <%= active_nav(:summary) %>" href="/">Summary</a>
  <a class="item <%= active_nav(:flows) %>" href="/flows">Flows</a>
  <a class="item <%= active_nav(:handlers) %>" href="/handlers">Handlers</a>
  <a class="item <%= active_nav(:workers) %>" href="/workers">Workers</a>
<% end %>
<% if signed_in? %>
<div id="account-menu" style="position: absolute; right: 8px; top: 12px; border-radius: 0px; white-space: nowrap">
  <div class="ui image label red"><%= current_user.email %>
    <a class="ui detail" href="/signout">Sign Out</a>
  </div>
</div>
<% end %>
</div>


<div id="main" class="ui grid">
  <div class="column">


  <% if flash[:error] || flash[:notice] %>
  <div class="ui page grid">
    <div class="row">
      <div class="column">
        <%= semantic_flash %>
      </div>
    </div>
  </div>
  <% end %>
  <%= yield %>
  </div>
</div>

</body>
</html>
